<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Welcome to Employee Management System</h1>

        <!-- Display the signup and login links in the welcome message -->
<!--        <p>-->
<!--            <a href="/signup" class="btn">Signup</a>-->
<!--            <a href="/login" class="btn">Login</a>-->
<!--        </p>-->
    </div>
</body>
</html>
